/* Enter your custom styles here */
.size1 {
	font-size : 1.8rem;
}

.kg {
  margin-left: 2%;
}

.objectHeaderID {
	padding-top: 2px;
	padding-bottom: 10px;
}

.tempForm {
}

.humidityForm, .densityForm {
	padding-bottom: 20px;
}